@font-face {
    font-family: "BeatriceDisplayDA";
    src: url("assets/fonts/BeatriceDisplayDA-Light.otf");
}

@font-face {
    font-family: "TTCommons";
    src: url("assets/fonts/TTCommons-Regular.woff");
}

@keyframes falling {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
